.backdrop {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    transition: opacity 250ms linear, visibility 250ms linear;
    &.is-hidden .modal {
            transform: translate(-50%, -50%) scaleX(0);
        }
}

.modal {
    background-color: #ffffff;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    width: 528px;
    min-height: 581px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scaleX(1);
    transition: transform 250ms linear;
    padding: 40px;
}

.modal-btn {
    width: 30px;
    height: 30px;
    border: 1px solid;
    border-color: #0000001a;
    border-radius: 50%;
    background-color: transparent;
    position: absolute;
    right: 8px;
    top: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    &:hover {
            fill: var(--accent-color);
        }
}

.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

.modal-title {
    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
    text-align: center;
    color: var(--second-title-color);
    margin-bottom: 12px;
}

.modal-input {
    width: 100%;
    height: 40px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    padding-left: 42px;
    outline: transparent;
    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:focus {
            border: 1px solid var(--accent-color);
        }
    &::placeholder {
                    font-size: 12px;
                    line-height: 1.17;
                    letter-spacing: 0.01em;
                    color: rgba(117, 117, 117, 0.5);
                }
}

.modal-input-wrap {
    position: relative;
    display: block;
}

.modal-input-icon {
    position: absolute;
    left: 12px;
    top: 50%;
    transform: translateY(-50%);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    .modal-input:focus+& {
            fill: var(--accent-color);
        }
}

.modal-button {
    width: 200px;
    height: 50px;
    background: var(--accent-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border-color: transparent;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.06em;
    color: var(--main-title-color);
}

.modal-label-text {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;
    color: #757575;
    margin-bottom: 4px;
    display: block;
}

.modal-field {
    margin-bottom: 10px;
    display: block;
}

.modal-area {
    display: block;
    width: 100%;
    height: 120px;
    padding-left: 16px;
    padding-top: 12px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    resize: none;
    outline: transparent;
    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
        &::placeholder {
            font-size: 12px;
            line-height: 1.17;
            letter-spacing: 0.01em;
            color: rgba(117, 117, 117, 0.5);
        }
                &:focus {
                    border: 1px solid var(--accent-color);
                }
}

.modal-field-area {
    margin-bottom: 20px;
    display: block;
}

.check-text {
    font-size: 14px;
    line-height: 1.71;
    color: var(--main-text-color);
    display: flex;
    align-items: baseline;
    & span {
            width: 16px;
            height: 15px;
            border: 2px solid #000;
            border-radius: 2px;
            display: flex;
            align-items: center;
            justify-content: center;
            fill: transparent;
            margin-right: 7px;
            box-sizing: border-box;
        }
                .checkbox:checked+& span {
                    background-color: var(--accent-color);
                    fill: var(--main-title-color);
                    border: none;
                }
                                & a {
                                    color: var(--accent-color);
                                }
                                                                .checkbox:focus+& span {
                                                                    border-color: var(--accent-color);
                                                                }
}

.modal-privacy {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}

.modal-btn-wrap {
    text-align: center;
}

