:root {
    --main-text-color: #757575;
    --second-title-color: #212121;
    --accent-color: #2196f3;
    --main-title-color: #ffffff;
    --second-background: #2f303a;
    --team-background: #f5f4fa;
}