.clients-icon-group {
    display: flex;
    gap: 30px;
}

.clients-icon-link {
    background-color: var(--main-title-color);
    border: 1px solid #afb1b8;
    border-radius: 4px;
    width: 170px;
    height: 92px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition-property: border;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
        &:focus {
            border: 1px solid var(--accent-color);
        }
}

.clients-icon {
    fill: #afb1b8;
    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    .clients-icon-link:hover &,
        .clients-icon-link:focus & {
            fill: var(--accent-color);
        }
}



