.footer {
    background: var(--second-background);
    padding-top: 60px;
    padding-bottom: 60px;
    & .container {
            display: flex;
            align-items: baseline;
            justify-content: space-between;
        }
}

.footer-adress {
    font-style: normal;
    margin-top: 20px;
}

.footer-logo {
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    color: var(--accent-color);
}

.footer-logo-studio {
    color: var(--main-title-color);
}

.footer-item {
    margin-bottom: 9px;
}

.map {
    line-height: 1.71;
    color: var(--main-title-color);
}

.footer-tel {
    line-height: 1.71;
    color: rgba(255, 255, 255, 0.6);
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
        &:focus {
            color: var(--accent-color);
        }
}

.footer-soc {
    font-weight: 700;
    line-height: 1.14;
    text-transform: uppercase;
    color: #ffffff;
    align-items: baseline;
}

.footer-soc-text {
    margin-bottom: 20px;
}

.footer-soc-list {
    display: flex;
    gap: 10px;
}

.footer-soc-icon {
    fill: var(--main-title-color);
}

.footer-soc-link {
    width: 44px;
    height: 44px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 50%;
    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
        &:focus {
            background-color: var(--accent-color);
        }
}

.footer-subscribe {
    background-color: transparent;
    color: var(--main-title-color);
    width: 358px;
    height: 50px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    padding-left: 16px;
    &::placeholder {
            font-size: 16px;
            line-height: 1.25;
            display: flex;
            align-items: center;
            letter-spacing: 0.03em;
            color: rgba(255, 255, 255, 0.6);
        }
}

.subscribe-btn {
    width: 200px;
    height: 50px;
    background: var(--accent-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: none;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.06em;
    color: #ffffff;
    margin-left: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.subscription {
    display: flex;
    align-items: flex-end;
}

.icon-send {
    margin-left: 10px;
}