.principies__title {
    font-size: inherit;
    line-height: 1.14;
    text-transform: uppercase;
    color: var(--second-title-color);
    margin-bottom: 10px;
}

.principies__text {
    line-height: 1.71;
}

.principies__list {
    display: flex;
    gap: 30px;
}

.principies__item {
    align-items: center;
    width: 270px;
}

.principies__background {
    background-color: #f5f4fa;
    width: 270px;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}