.work {
    padding-top: 0;
}

.work__list {
    display: flex;
    gap: 30px;
}

.work__item {
    position: relative;
}

.work__text {
    background-color: #2f303acc;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 370px;
    height: 70px;
    font-weight: 700;
    line-height: 1.14;
    text-transform: uppercase;
    position: absolute;
    bottom: 0px;
    color: var(--main-title-color);
}